<footer>
	<div class="container">
	    <p class="credit">Developed by {{ site.site_credit | safe }}, 2021</p>
	    <p class="attribution">{{ site.attribution | safe }}</p>
	</div>
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>
