<header class="site-header">
	<div class="container">
		<a href="/" class="header__site-logo">
			<img src="{{ site.logo }}" alt="{{ site.title }} logo">
		</a>

	 	{% include 'navigation.njk' %}

	 	<button class="header__menu-toggle"></button>
	</div>
</header>